*{
    box-sizing: border-box;
    font-family: system-ui;
}
nav{
    background-color: #116d18;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  height: 100vh;
  width: 20vw;
  flex-wrap: wrap;
  position: fixed;
  direction: rtl;
  align-content: flex-start;
   
}
body{
    display: flex;
    flex-direction: row-reverse;
   /* background-image: url(imagetsafon/ראש\ הנקרא2.webp); */
   background-color:  white
}
nav a{
    font-size:1.5rem;
    text-decoration: none;
    color: white;
    gap: 2rem;
    /* margin: 1rem; */
    padding: 1rem;

}
h1{
    text-align: center;
    color: black;
}

nav .map{
    background-color:   #80c099;
   
}
nav a:hover{
    background-color:    #80c099;
    color: rgb(242, 234, 234);
}


.main{
    /* background-color: #00BCD4; */
    width: 100vw;
}

.m{
position: relative;
width: 63%;
left: 10%;
top: 10%;
border: #7e7070 solid 1rem;
}
 .m p{
    position: absolute;
    left: 35%;
    top: 34%;
    font-size: 3rem;
    /* background-color: antiquewhite; */
    font-weight: bolder;
}
.m:hover{
    width: 65%;


}



.m img{

    width: 100%;
}

@media screen and (max-width:966px) {
    nav a{
        font-size: 1.5rem;
        
    }
    .m p{
        font-size: 1.5rem;
    }
}



@media screen and (max-width:698px) {
    nav a{
        font-size: 1rem;
        padding: 1rem;
    }
    .m p{
        font-size:1rem;
    }
}


